body {
    text-align: center;
    font-family: monospace;
    background-color: darkgray;
    color: black;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}