<nav>
    <a href="https://webpages.charlotte.edu/htran56/itis3135/">ITIS 3135</a> ||
    <a href="https://webpages.charlotte.edu/htran56/">Charlotte.edu</a> ||
    <a href="https://github.com/henrythaitran">Github</a> ||
    <a href="https://henrythaitran.github.io/github.io/">Github.io</a> ||
    <a href="https://www.linkedin.com/in/henry-thai-tran/">LinkedIn</a>
</nav>
<p>Page Built by <a href="happytigerenterprise">Happy Tiger Enterprise</a> ©2025, Certified in <a href="https://www.freecodecamp.org/certification/henryytran/responsive-web-design">Responsive Web Design</a> </a>and <a href="https://www.freecodecamp.org/certification/henryytran/javascript-algorithms-and-data-structures-v8">JavaScript Algorithms and Data Structures</a></p>
