<h1>Henry Tran's Happy Tiger | ITIS3135</h1>
    <nav class="top-nav">
                <a href="./">Home</a>
				|
				<a href="introduction.html">Introduction</a>
				|
				<a href="contract.html">Contract</a>
				|
				<a href="happytigerwhimsicalwagon/">Whimsical Page</a>
				|
				<a href="stuff/crAppyp@g3.html">Crappy Page</a>
				|
				<a href="website_evaluation.html">Website Evaluations</a>
				|
				<a href="hobby/photography.html">Hobby Page</a>
				|
				<a href="tables.html">HTML Tables</a>
    </nav>
    <nav class="bottom-nav">
		<a href="project_overview.html">Project Overview</a>
		|
        <a href="byo_intro.html">BYO Intro</a>
		|
		<a href="slideshow.html">Slideshow</a>
		|
        <a href="drawing.html"> Drawing</a>
		|
		<a href="project/">Client Project</a>
    </nav>
    
