<h1>Henry Tran's Happy Tiger | ITIS3135</h1>
<nav class="top-nav">
    <a href="./">Home</a>
    <span class="separator">|</span>
    <a href="introduction.html">Introduction</a>
    <span class="separator">|</span>
    <a href="contract.html">Contract</a>
    <span class="separator">|</span>
    <a href="happytigerwhimsicalwagon/">Whimsical Page</a>
    <span class="separator">|</span>
    <a href="stuff/crAppyp@g3.html">Crappy Page</a>
    <span class="separator">|</span>
    <a href="website_evaluation.html">Website Evaluations</a>
    <span class="separator">|</span>
    <a href="hobby/photography.html">Hobby Page</a>
    <span class="separator">|</span>
    <a href="tables.html">HTML Tables</a>
</nav>
<nav class="bottom-nav">
    <a href="project_overview.html">Project Overview</a>
    <span class="separator">|</span>
    <a href="byo_intro.html">BYO Intro</a>
    <span class="separator">|</span>
    <a href="slideshow.html">Slideshow</a>
    <span class="separator">|</span>
    <a href="drawing.html">Drawing</a>
    <span class="separator">|</span>
    <a href="project/">Client Project</a>
</nav>